/* CSS Items */

body{  
	font-family: Arial;
	background: #00ffc5;
}

h1 {
	color: grey;
}
.alt {
	color:blue;
}

#dog{
	color:black;
}
.css-statements{
	border:3px solid black;}

.uses{
	border: 3px double white;
}	