<!DOCTYPE html>
<html>
	<head>
		<title> CSS Playground</title>
		<link rel="stylesheet" type="text/css"href="../css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="nav">
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="HTML Playground.html">HTML</a></li>
			<li><a href="CSS Playground.html">CSS</a></li>
			<li><a href="Bootstrap PLayground.html">Bootstrap</a></li>
			<li><a href="Javascript PLayground.html">JavaScript</a></li>
			<li><a href="jQuery Playground.html">jQuery</a></li>
			<li><a href="Git Playground.html">Git</a></li>
			<li><a href="Resources PLayground.html">Resources</a></li>
		</ul>
		</div>
		<div "black" style = "color:black;border:double">
		<h1>CSS Items</h1>
		<div class="uses">
		<h3>Uses</h3>
			<ul>
				<li>Gives the apperance of your site, a unique look and feel.</li>
				<li>Alters colors, fonts, backgrounds, etc.</li>
				<li>Implements effects and animations, although its not as powerfull as jQuery/JavaScript</li>
			</ul>	
		</div>	
		<hr>
		<div class="css-statements">
		<h3>CSS Statements</h3>	
		<p>Four main components of CSS statement</p>
			<ol>
				<li><b>Declaration: </b>Whole CSS statements in curly braces.</li>
				<li><b>Selector: </b>Name of the part you want to style.</li>
				<li><b>Property: </b>Properties to edit (e.g., width, height, background,etc.)</li>
				<li><b>Value: </b>Numbers, colors, URLs - things to give value to the property.</li>
			</ol>
		</div>	
		</div>
<!-- Classes = "." id = "#" -->
		<div class="smileyface">
  	  	<div class="lefteye"></div>
   		<div class="lefteye2"></div>
   		<div class="righteye"></div>
   		<div class="righteye2"></div>
   		<div class="smile"></div>
   		<div class="browl"></div>
   		<div class="brow2"></div>
	 	</div> 


		

	</body>	

</html>	