<!DOCTYPE html>
<html>
	<head>
		
		<title> HTML Playground</title>

	</head>
	<body>
		<div id = "green" style = "color:green;border:solid">

		<h1>HTML Items</h1>
		<h2>Header Tags</h2>
		<h1>h1</h1>
		<h3>h3</h3>
		<h6>h6</h6>
		<hr>

		<h2>Paragraph tag</h2>
		<p>I was walking and I slipped on White-Out. Then, I spit out sunglasses while swallowing a theme park in Orlando. I then went on to drive 5 hours to Halloween Horror Nights just to buy a Jello Shot. The Dollar Store sells things for a dollar but it ends up being a $1.06 in Florida at least. I'm listening to Down right now but I like Lil Wayne's part the best even though I don't like Lil Wayne. I wonder who invented post-its.</p>
		<hr>
		<h2>Hyperlinks and href</h2>
		<p>use the "a href" tag for a link then copy and paste the URL</p>
		<hr>
		<h2>Images</h2>
			<p>Images are easy to add. create a folder for images called ".img src" tag</p>
			<img src="../Images/216499.png">
		<hr>
		<h1>Divs</h1>
		<div id = "blue" style="color:blue;border:dashed"> 
			<p color = "blue">Hello</p>
		</div>
		<div id = "red" style = "color:red">Ayyyy Whaddup</div>
		<div id "background" style = "background:red">
			<br>
			<br>
		</div>
			

		<a href="C:/Users/Admin/Desktop/portfolio/index.html">Back</a>

	</div>
	</body>	

</html>	