<!DOCTYPE html>
<html>
	<head>
		
		<title> HTML Playground</title>
			<link rel="stylesheet" type="text/css"href="../css/main.css">
			<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="nav">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="HTML Playground.html">HTML</a></li>
				<li><a href="CSS Playground.html">CSS</a></li>
				<li><a href="Bootstrap PLayground.html">Bootstrap</a></li>
				<li><a href="Javascript PLayground.html">JavaScript</a></li>
				<li><a href="jQuery Playground.html">jQuery</a></li>
				<li><a href="Git Playground.html">Git</a></li>
				<li><a href="Resources PLayground.html">Resources</a></li>
			</ul>
		</div>		
		<div "black" style = "color:black;border:double">
			<h1>HTML Items</h1>
			<h2>Header Tags</h2>
				<ul>	
					<li>h1</li>
					<li>h2</li>
					<li>h3</li>
				</ul>
		<hr>
			<h2>Paragraph tag</h2>
				<ul>
					<li>"p"</li>
				</ul>
		<hr>
			<h2>Hyperlinks and href</h2>
				<p>use the "a href" tag for a link then copy and paste the URL</p>
		<hr>
			<h2>Images</h2>
				<p>Images are easy to add. create a folder for images called ".img src" tag</p>
			<img src="../Images/cyanide.png">
		</div>
	</body>
</html>	